.cardlist-container {
    width: 100%;
    max-width: 500px !important;
}

.card-list {
    .accordion-body {
        padding: unset;
    }

    .card-list-item {
        display: flex;
        flex-direction: row;
        gap: 5px;

        padding: 8px;

        .card-image {
            width: 64px;
            height: 90px;
        }

        .card-list-item-title {
            font-weight: bold;
        }

        .card-list-item-text {
            font-size: 0.9rem;
            text-align: left;
            max-width: 300px;

            .card-list-item-title {
                font-size: 1rem;
            }
        }

        &.partial {
            background-color: rgba(255, 0, 0, 0.1);
        }
    }
}