.cardlist-container {
    width: 100%;
    max-width: 500px !important;
}


.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;


    .gallery-card-wrapper {
        width: 30%;

        .builder-controls {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .gallery-card-image {
            border-radius: 4px;
            width: 100%;

            &.partial {
                border: 3px solid rgba(255, 0, 0, 0.5);
            }
        }
    }
}

.card-list {
    .accordion-body {
        padding: unset;
    }

    .card-list-item {
        display: flex;
        flex-direction: row;
        gap: 5px;

        padding: 8px;

        .card-image {
            width: 64px;
            height: 90px;
        }

        .card-list-item-title {
            font-weight: bold;
        }

        .card-list-item-text {
            font-size: 0.9rem;
            text-align: left;

            .card-list-item-title {
                font-size: 1rem;
            }
        }

        &.partial {
            background-color: rgba(255, 0, 0, 0.1);
        }

        .linked-card-icon {
            margin-left: 8px;
            cursor: pointer;
        }

        :last-child {
            margin-left: auto;

        }

        .builder-controls {
            display: flex;
            flex-direction: column;
        }
    }
}

.builder-control {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #DDD;

    &.active {
        color: grey
    }

}

.count-control {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
}