.deck-wrapper {
    z-index: 10;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    border: silver solid 2px;
    position: sticky;
    top: 0px;


    .gallery-grid {
        flex-wrap: nowrap;
        justify-content: unset;
        overflow-x: scroll;
        /* scrollbar-width: none; */

        .gallery-card-image {
            width: 20%;
        }
    }
}

@media screen and (max-width: 640px) {
    .deck-wrapper {

        .gallery-grid {
            scrollbar-width: none;
        }
    }
}

.deck-header {
    /* height: 48px; */
    display: flex;
    flex-direction: row;

    .card-count {
        font-size: 32px;
        font-weight: bold;
        line-height: 70px;
        margin-left: auto;
        width: 90px;
        text-align: right;

        .count-icon {
            margin-right: 2px;
        }
    }

    .dice-rack {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: 5px;
    }

    .phoenixborn-image {
        width: 70px;
        min-width: 70px;

        height: 70px;
        border-radius: 4px;
        border: silver solid 2px;

        &.astrea {
            background-image: url('https://cdn.ashes.live/images/cards/astrea.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.brennen-blackcloud {
            background-image: url('https://cdn.ashes.live/images/cards/brennen-blackcloud.jpg');
            background-position: 50% 25%;
            background-size: 250%;
        }

        &.aradel-summergaard {
            background-image: url('https://cdn.ashes.live/images/cards/aradel-summergaard.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.coal-roarkwin {
            background-image: url('https://cdn.ashes.live/images/cards/coal-roarkwin.jpg');
            background-position: 45% 20%;
            background-size: 250%;
        }

        &.dimona-odinstar {
            background-image: url('https://cdn.ashes.live/images/cards/dimona-odinstar.jpg');
            background-position: 60% 35%;
            background-size: 250%;
        }

        &.echo-greystorm {
            background-image: url('https://cdn.ashes.live/images/cards/echo-greystorm.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.fiona-mercywind {
            background-image: url('https://cdn.ashes.live/images/cards/fiona-mercywind.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.harold-westraven {
            background-image: url('https://cdn.ashes.live/images/cards/harold-westraven.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.hope-everthorn {
            background-image: url('https://cdn.ashes.live/images/cards/hope-everthorn.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.james-endersight {
            background-image: url('https://cdn.ashes.live/images/cards/james-endersight.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.jericho-reborn {
            background-image: url('https://cdn.ashes.live/images/cards/jericho-reborn.jpg');
            background-position: 45% 20%;
            background-size: 250%;
        }

        &.jessa-na-ni {
            background-image: url('https://cdn.ashes.live/images/cards/jessa-na-ni.jpg');
            background-position: 50% 20%;
            background-size: 200%;
        }

        &.koji-wolfcub {
            background-image: url('https://cdn.ashes.live/images/cards/koji-wolfcub.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.leo-sunshadow {
            background-image: url('https://cdn.ashes.live/images/cards/leo-sunshadow.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.lulu-firststone {
            background-image: url('https://cdn.ashes.live/images/cards/lulu-firststone.jpg');
            background-position: 55% 20%;
            background-size: 250%;
        }

        &.maeoni-viper {
            background-image: url('https://cdn.ashes.live/images/cards/maeoni-viper.jpg');
            background-position: 45% 20%;
            background-size: 250%;
        }

        &.namine-hymntide {
            background-image: url('https://cdn.ashes.live/images/cards/namine-hymntide.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.noah-redmoon {
            background-image: url('https://cdn.ashes.live/images/cards/noah-redmoon.jpg');
            background-position: 40% 20%;
            background-size: 250%;
        }

        &.odette-diamondcrest {
            background-image: url('https://cdn.ashes.live/images/cards/odette-diamondcrest.jpg');
            background-position: 60% 20%;
            background-size: 250%;
        }

        &.orrick-gilstream {
            background-image: url('https://cdn.ashes.live/images/cards/orrick-gilstream.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.rimea-careworn {
            background-image: url('https://cdn.ashes.live/images/cards/rimea-careworn.jpg');
            background-position: 40% 20%;
            background-size: 250%;
        }

        &.rin-northfell {
            background-image: url('https://cdn.ashes.live/images/cards/rin-northfell.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.rowan-umberend {
            background-image: url('https://cdn.ashes.live/images/cards/rowan-umberend.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.saria-guideman {
            background-image: url('https://cdn.ashes.live/images/cards/saria-guideman.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.sembali-grimtongue {
            background-image: url('https://cdn.ashes.live/images/cards/sembali-grimtongue.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.tristan-darkwater {
            background-image: url('https://cdn.ashes.live/images/cards/tristan-darkwater.jpg');
            background-position: 50% 20%;
            background-size: 250%;
        }

        &.victoria-glassfire {
            background-image: url('https://cdn.ashes.live/images/cards/victoria-glassfire.jpg');
            background-position: 45% 20%;
            background-size: 250%;
        }

        &.xander-heartsblood {
            background-image: url('https://cdn.ashes.live/images/cards/xander-heartsblood.jpg');
            background-position: 55% 20%;
            background-size: 250%;
        }
    }

}