.home-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* :last-child {
    margin-left: auto;
} */
    :first-child {
        margin-right: auto;
    }

    .toggle {
        margin-top: 5px;
    }
}