.zoom-container {
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: center;
    top: 60px;

    &.builder {
        top: 90px;
    }

    .zoom-wrapper {
        position: absolute;
        width: 100%;

        .zoom-image {
            border-radius: 4px;
            border: 2px solid rgba(192, 192, 192, 0.8);
            width: 100%;
        }

        .zoom-nav-left {
            position: absolute;
            left: 10px;
            top: 45%;
            height: 40px;
            width: 40px;
            background-color: silver;
            border-radius: 20px;
            cursor: pointer;
        }

        .zoom-nav-right {
            position: absolute;
            right: 10px;
            top: 45%;
            height: 40px;
            width: 40px;
            background-color: silver;
            border-radius: 20px;

            cursor: pointer;
        }
    }
}